* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 197, 197);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  position: fixed;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  font-weight: 500;
}

nav ul a:hover {
  color: rgb(223, 134, 134);
}



main {
  width: 100%;
  padding: 100px 50px 10px 50px;
}

.zuberi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.bloque {
  width:  100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
  background-color: rgba(245, 245, 245, 0.422);
  border-radius: 2em;
}

.image {
  width: 50%;
  height: 80vh;
}

.image img {
  width: 100%;
  height: 100%;
}

.text{
  width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(211, 116, 116);
}

.text p{
  padding: 30px 100px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 100;
}

.text h1{
  font-size: 2em;
  font-weight: 100;
}

.text a {
  text-decoration: none;
  color: black;
  font-size: 0.8;
  font-weight: 900;
  border-bottom: 1.5px solid black;
}

.text a:hover {
  color: brown;
  border-bottom: 1.5px solid brown;
}

footer {
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(215, 97, 97);
}

footer p {
  font-size: 1.2em;
}

footer span {
  font-style: italic;
  font-weight: bolder;
}